<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../bootstrap-5.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Gerencia de Projetos</title>
</head>

<body>

<header>
    <h2> Gerencia de Projetos</h2>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">NewProjects</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/portfolio/list">Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sobre">Sobre</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="./img/peterson.png" class="card-img-top" alt="foto">
                <div class="card-body">
                    <h5 class="card-title">Desenvolvedor</h5>
                    <p class="card-text">Esse site foi desenvolvido pelo estudante da tuma 3A do Senai.</p>
                    <a href="#" class="btn btn-primary"> Me chamo Peterson e estou aprendendo sobre desenvolvimento de
                        sistemas.</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <img src="./img/anna.png" class="card-img-top" alt="foto">
                <div class="card-body">
                    <h5 class="card-title">Desenvolvedora</h5>
                    <p class="card-text">Esse site foi desenvolvido pela estudante da tuma 3A do Senai.</p>
                    <a href="#" class="btn btn-primary"> Me chamo Anna Fiameti e estou aprendendo sobre desenvolvimento de
                        sistemas.</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <img src="" class="card-img-top" alt="foto">
                <div class="card-body">
                    <h5 class="card-title">Desenvolvedor</h5>
                    <p class="card-text">Esse site foi desenvolvido pelo estudante da tuma 3A do Senai.</p>
                    <a href="#" class="btn btn-primary"> Me chamo Bernardo e estou aprendendo sobre desenvolvimento de
                        sistemas.</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <img src="./img/DiegoC.JPG" class="card-img-top" alt="foto">
                <div class="card-body">
                    <h5 class="card-title">Desenvolvedor</h5>
                    <p class="card-text">Esse site foi desenvolvido pelo estudante da tuma 3A do Senai.</p>
                    <a href="#" class="btn btn-primary"> Me chamo Diego Costa e estou aprendendo sobre desenvolvimento de
                        sistemas.</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sair">
    <a href="/login" type="button" class="botao btn btn-dark btn-cadastrar">
        Sair <i class="fas fa-user-plus"></i>
    </a>
</div>



<footer>
    <div class="col">
        <h4>Grupo</h4>
        <ul>
            <li>SENAI CTAI</li>
            <li>Anna Fiameti, Bernardo Fogaça, Diego Costa e Peterson Gabriel</li>
        </ul>
    </div>
    <div class="col">
        <h4>Contatos</h4>
        <ul>
            <li>anna_fiameti@estudante.sc.senai.br</li>
            <li>bernardo_fogaca@estudante.sc.senai.br</li>
            <li>diego_costa-souza@estudante.sc.senai.br</li>
            <li>peterson_g_silva@estudante.sc.senai.br</li>
        </ul>
    </div>
</footer>

<script src="../js/popper.min.js"> </script>
<script src="../bootstrap-5.0.0/js/bootstrap.min.js"></script>

</body>
</html>